@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Bebas+Neue&display=swap');

:root{ 
    --bg-color:#000;
}



#body{ 
    background-color: var(--bg-color);
  
}

h1{
    font-family: 'Abhaya Libre', serif;
    font-family: 'Bebas Neue', sans-serif;
}



.a-link{ 
    text-decoration: none;
}

